nz-date-picker {
  max-width: 135px;
}

.start-date-section {
  // display: none;
}

.date-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 11px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 14px;
  line-height: 1.5715;
  height: max-content;
  cursor: text;
}

.past-date {
  color: #ff4d4f;
}

.soon-date {
  color: #52c41a;
}
