.mobile-menu-dropdown .ant-dropdown-menu {
  padding: 0 !important;
  margin-top: 2px !important;
}

.mobile-menu-dropdown .ant-dropdown-menu-item {
  padding: 0 !important;
}

.mobile-menu-card .ant-card-head {
  padding: 0 16px;
}

.mobile-menu-card .ant-card-body {
  padding: 4px 0;
}

.mobile-menu-card .ant-card-body a {
  display: block;
  margin: 0;
  padding: 10px 15px;
}

.mobile-menu-card .ant-card-body a:hover {
  color: #1890ff !important;
  background-color: #edebf0 !important;
  box-sizing: border-box;
}

html[data-theme="dark"] .mobile-menu-card .ant-card-body a:hover {
  background-color: #333 !important;
  color: #1890ff !important;
}

.mobile-menu-card {
  border: none !important;
  box-shadow: none !important;
}
