<div class="flex-table rows" [ngClass]="task.is_sub_task ? 'subtask' : 'main-task'" cdkDrag [cdkDragData]="task"
     (cdkDragStarted)="onDragStart()"
     [cdkDragLockAxis]="'y'" [cdkDragBoundary]="'.tasks-wrapper'">
  <div class="task-placeholder" *cdkDragPlaceholder></div>

  <!-- Drag handle -->
  <div class="flex-row task-drag-handler" cdkDragHandle [cdkDragHandleDisabled]="!!task.parent_task_id">
    <div class="drag-handle" *ngIf="!task.parent_task_id">
      <span nz-icon [nzType]="'holder'" [nzTheme]="'outline'"></span>
    </div>
  </div>

  <!-- Checkbox -->
  <div class="flex-row task-check">
      <span nz-checkbox [(nzChecked)]="selected" (nzCheckedChange)="onCheckChange($event)"
            class="p-0"></span>
  </div>

  <!-- Subtask -->
  <div class="flex-row task-arrow" #tr0>
    <div *ngIf="!service.isSubtasksIncluded" class="p-0 border-end-0">
      <div *ngIf="!task.is_sub_task" (click)="$event.stopPropagation();openSubTasks()"
           class="d-flex align-items-center justify-content-center sub-tasks-arrow dropdown-highlight">
        <ng-container>
          <span [style.color]="task | subTasksArrowColorPT"
                [class.hidden-arrow]="!Number(task.sub_tasks_count) && !task.show_sub_tasks"
                class="align-items-center align-self-center cursor-pointer d-flex sub-arrow">

            <span *ngIf="!task.sub_tasks_loading" style="font-size: 12px" nz-icon
                  [nzType]="task.show_sub_tasks | subTasksArrowIconPT"
                  [nzTheme]="'outline'"></span>
            <span *ngIf="task.sub_tasks_loading" nz-icon [nzType]="'loading'"></span>
          </span>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Task name -->
  <div class="flex-row task-name" #tr1>
    <div class="inner-task-name-container">
      <div *ngIf="editId !== task.id" class="editable-cell pointer-text ps-1 w-100">
        <!-- Name block -->
        <div class="d-flex w-100">
          <div>
            <div *ngIf="editId !== task.id"
                 (click)="onTaskNameClick($event, tr1, task)"
                 nz-tooltip
                 [nzTooltipMouseEnterDelay]="0.5"
                 [nzTooltipTitle]="task.name | safeString"
                 class="task-name-text">
              <small *ngIf="task.is_sub_task" nz-typography
                     [nzType]="'secondary'">
                <span nz-icon [nzType]="'double-right'" [nzTheme]="'outline'"></span>
              </small>
              {{ task.name }} &nbsp;
            </div>
          </div>
          <nz-tag *ngIf="!task.is_sub_task && !service.isSubtasksIncluded"
                  [nzColor]="'default'" class="me-1 px-1 double-arrow"
                  (click)="$event.stopPropagation();openSubTasks()">
              <span style="color: #6d6e6f;">
                {{task.sub_tasks_count}} <span nz-icon [nzType]="'double-right'" style="font-size: 10px"
                                               [nzTheme]="'outline'">
              </span>
              </span>
          </nz-tag>
        </div>
      </div>
    </div>

    <input *ngIf="editId === task.id" nz-input
           (focus)="selectCol(tr0);selectCol(tr1)" [(ngModel)]="task.name"
           (blur)="handleNameChange(task);deselectCol(tr0);deselectCol(tr1)"
           (keydown.enter)="handleNameChange(task);deselectCol(tr0);deselectCol(tr1)"
           class="ps-1 name-input" style="min-width: 365px; max-width: 365px;"
           [nzBorderless]="true"/>
  </div>

  <!-- Description -->
  <ng-container>
    <worklenz-task-description [task]="task"></worklenz-task-description>
  </ng-container>

  <!-- Labels -->
  <ng-container>
    <worklenz-task-labels [task]="task"></worklenz-task-labels>
  </ng-container>

  <!-- Phase -->
  <ng-container>
    <worklenz-task-phase [task]="task"></worklenz-task-phase>
  </ng-container>

  <!-- Statuses -->
  <ng-container>
    <worklenz-task-status [task]="task"></worklenz-task-status>
  </ng-container>

  <!-- Priority -->
  <ng-container>
    <worklenz-task-priority [task]="task"></worklenz-task-priority>
  </ng-container>

  <!-- Estimation -->
  <ng-container>
    <worklenz-task-estimation [task]="task"></worklenz-task-estimation>
  </ng-container>

  <!-- Start date -->
<!--  <ng-container>-->
<!--    <worklenz-task-start-date [task]="task"></worklenz-task-start-date>-->
<!--  </ng-container>-->

  <!-- Due date -->
<!--  <ng-container>-->
<!--    <worklenz-task-end-date [task]="task"></worklenz-task-end-date>-->
<!--  </ng-container>-->

</div>
