.disable {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    background: #e7e7e769;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}

.z-top {
  z-index: 9;
}
