- const title = "Worklenz | Resource Management Simplified"
- const description = "The only tool you need to open in the morning to get your work done."
- const keywords = "Resource management, worklenz, project management, task management, gantt chart, kanban"

doctype html
html(lang='en')
  head
    base(href="/")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title=title

    meta(name='title' content=title)
    meta(name='description' content=description)

    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,400i|Roboto:500')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css')
    link(rel='stylesheet' href='/assets/css/style.css')

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

  body.is-boxed.has-animations
    block content
