button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  background: #edebf0 !important;
  border: 1px solid #ededed;
}

p {
  max-width: max-content;
}
