.profile-dropdown .ant-dropdown-menu {
  padding: 0 !important;
  margin-top: 2px !important;
}

.profile-dropdown .ant-dropdown-menu-item {
  padding: 0 !important;
}

.profile-card .ant-card-head {
  padding: 0 16px;
}

.profile-card .ant-card-body {
  padding: 4px 0;
}

.profile-card .ant-card-body a {
  display: block;
  margin: 0;
  padding: 10px 15px;
}

.profile-card .ant-card-body a:hover {
  color: #1890ff !important;
  background-color: #f8f7f9 !important;
  box-sizing: border-box;
}

.profile-card.dark .ant-card-body a:hover {
  color: #1890ff !important;
  background-color: #424242 !important;
  box-sizing: border-box;
}

.profile-card {
  border: none !important;
  box-shadow: none !important;
}
