button {
  min-width: 16px !important;
  width: 16px !important;
  height: 16px !important;
  line-height: 14px;
  padding-left: 1px;
}

.icon-stop {
  font-size: 8px;
  position: relative;
  top: -1px;
  left: 0;
  right: 0;
  bottom: 0;
}
