[nz-form] {
  max-width: 600px;
}

.avatar-upload-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff9e;
}
