.chart-details {
  height: 220px;
  max-height: 220px;
  overflow-y: auto;
}

.no-data-img-holder {
  width: 65px;
}

.charts-holder {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}
