<nz-card>
  <form (submit)="submitForm()" [formGroup]="passwordChangeForm" [nzLayout]="'vertical'" nz-form>
    <nz-form-item>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'Please input your old password!'">
        <nz-form-label nzRequired>Current Password</nz-form-label>
        <nz-input-group [nzSuffix]="suffixTemplateOld">
          <input [type]="oldPasswordVisible ? 'text' : 'password'" autocomplete="off" [formControlName]="'password'"
                 nz-input
                 placeholder="Enter your current password"/>
        </nz-input-group>
        <ng-template #suffixTemplateOld>
        <span (click)="oldPasswordVisible = !oldPasswordVisible" [nzType]="oldPasswordVisible ? 'eye-invisible' : 'eye'"
              nz-icon></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'Please input your new password!'">
        <nz-form-label nzRequired>New Password</nz-form-label>
        <nz-input-group [nzSuffix]="suffixTemplateNew">
          <input [type]="newPasswordVisible ? 'text' : 'password'" autocomplete="off"
                 [formControlName]="'new_password'"
                 nz-input placeholder="New Password"/>
        </nz-input-group>
        <ng-template #suffixTemplateNew>
        <span (click)="newPasswordVisible = !newPasswordVisible" [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
              nz-icon></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-2">
      <nz-form-control [nzErrorTip]="
            passwordChangeForm
              .get('confirm_password')?.hasError('passwordMismatch')
              ? 'Passwords do not match!'
              : 'Please confirm your new password!'
          " [nzSm]="14" [nzXs]="24">
        <nz-form-label nzRequired>Confirm New Password</nz-form-label>
        <nz-input-group [nzSuffix]="suffixTemplateConfirm">
          <input [type]="confirmPasswordVisible ? 'text' : 'password'"
                 autocomplete="off" [formControlName]="'confirm_password'"
                 nz-input placeholder="Confirm New Password"/>
        </nz-input-group>
        <ng-template #suffixTemplateConfirm>
        <span (click)="confirmPasswordVisible = !confirmPasswordVisible"
              [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
              nz-icon></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="mb-2">
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <span nz-typography class="d-block" [nzType]="'secondary'"
              style="font-size: 12px;">New password should be {{passwordPolicy | lowercase}}</span>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" type="submit">
          Update
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
