.w-35 {
  max-width: 35%;
}

.actions-row {
  cursor: pointer;
  transition: 0.25s background;

  &:hover {
    & .template-name {
      color: #188fff;
    }
  }
}

nz-list-item {
  height: 48px;
}

.selected {
  background: #e6f7ff;

  & .template-name {
    color: #188fff;
  }
}

.temp-details {
  max-height: calc(100vh - 245px);
  overflow: auto;
}
