<nz-card [nzExtra]="searchTemplate">
  <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzParagraph]="{ rows: 5 }">
    <nz-table
      #table
      (nzQueryParams)="onQueryParamsChange($event)"
      [nzData]="model.data || []"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzPageIndex]="pageIndex"
      [nzPageSizeOptions]="paginationSizes"
      [nzPageSize]="pageSize"
      [nzTotal]="total"
      class="custom-table"
      nzShowSizeChanger
      nzSize="small"
    >
      <thead>
      <tr>
        <th [nzSortFn]="true" nzAlign="left" nzColumnKey="name" scope="col">Name</th>
        <th colspan="2" nzAlign="left" scope="col">Projects</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of table.data" class="actions-row">
        <td (click)="editClient(data.id)" class="cursor-pointer">
          <span>{{ data.name }}</span>
        </td>
        <td (click)="editClient(data.id)" class="cursor-pointer">
          <span nz-typography nzType="secondary">
            {{(data.projects_count || 0) <= 0 ? 'No projects available' : (data.projects_count || 0) + ' Projects'}}
          </span>
        </td>
        <td class="actions-col">
          <div class="actions">
            <nz-space>
              <button (click)="editClient(data.id)" *nzSpaceItem nz-button nz-tooltip nzSize="small"
                      nzTooltipPlacement="top"
                      nzTooltipTitle="Edit"
                      nzType="default">
                <span nz-icon nzType="edit"></span>
              </button>
              <button (nzOnConfirm)="deleteClient(data.id)" *nzSpaceItem
                      nz-button nz-popconfirm nz-tooltip nzOkText="Yes"
                      nzPopconfirmTitle="Are you sure?" nzSize="small" nzTooltipPlacement="top"
                      nzTooltipTitle="Delete"
                      nzType="default">
                <span nz-icon nzType="delete"></span>
              </button>
            </nz-space>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-skeleton>

  <ng-template #searchTemplate>
    <nz-space>
      <form (ngSubmit)="searchProjects()" *nzSpaceItem [formGroup]="searchForm" [nzLayout]="'vertical'" nz-form>
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input [formControlName]="'search'" nz-input placeholder="Search by name" type="text"/>
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </form>
      <button (click)="showClientsModal = true" *nzSpaceItem nz-button nzType="primary">Create Client</button>
      <worklenz-toggle-menu-button *nzSpaceItem [key]="menu.CLIENTS_MENU"></worklenz-toggle-menu-button>
    </nz-space>
  </ng-template>
</nz-card>

<nz-drawer
  (nzOnClose)="closeModal()"
  [(nzVisible)]="showClientsModal"
  [nzClosable]="true"
  nzPlacement="right"
  nzTitle="{{action}} Client"
>
  <ng-container *nzDrawerContent>
    <nz-spin [nzSpinning]="loadingSingleClient">
      <form [formGroup]="form" [nzLayout]="'vertical'" nz-form>
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzRequired>Name</nz-form-label>
          <nz-form-control [nzSpan]="null" nzErrorTip="Please enter a name!">
            <input [formControlName]="'name'" nz-input placeholder="Name"/>
          </nz-form-control>
        </nz-form-item>
      </form>
      <button (click)="handleOk()" nz-button nzBlock nzType="primary" type="button">{{action}}</button>
    </nz-spin>
  </ng-container>
</nz-drawer>
