.phase-dropdown .ant-dropdown-menu {
  padding: 0 !important;
  margin-top: 8px !important;
  overflow: hidden;
}

.phase-dropdown .ant-dropdown-menu-item {
  padding: 0 !important;
}

.phase-dropdown-card .ant-card-body {
  padding: 0 !important;
}

.phase-menu .ant-menu-item {
  display: flex;
  align-items: center;
  height: 32px;
}

.custom-list-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.custom-list-item.dark:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.custom-card {
  min-width: 200px;
}
