.required-star{
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.empty-error-text {
  color: #ff4d4f;
}

.error-input {
  border-color: #ff4d4f;
  box-shadow: none;
}
