@media (max-width: 1000px) {
  .step-content,
  .step-form,
  .create-first-task-form,
  .setup-action-buttons,
  .invite-members-form {
    width: 400px !important;
  }
}

@media (max-width: 500px) {
  .step-content,
  .step-form,
  .create-first-task-form,
  .setup-action-buttons,
  .invite-members-form {
    width: 200px !important;
  }
}
