<div nz-dropdown [nzDropdownMenu]="membersDropdown" [nzOverlayClassName]="'custom-shadow'" [nzClickHide]="false"
     (click)="$event.stopPropagation()"
     [nzTrigger]="'click'"
     (nzVisibleChange)="handleVisibleChange($event);" class="editable w-100 h-100 d-flex align-items-center"
     [ngClass]="task.names?.length ? 'show-def':'show-hover'"
     #tr>
  <div class="d-flex">
    <worklenz-avatars *ngIf="task.names?.length" [names]="task.names | wlSafeArray"
                      class="d-flex kanban-avatars"></worklenz-avatars>
    <nz-avatar [nzSize]="24" [class]="avatarClass" [nzIcon]="'plus'"></nz-avatar>
  </div>
</div>

<nz-dropdown-menu #membersDropdown="nzDropdownMenu">
  <div *ngIf="show" class="bg-white px-3 py-2 border-bottom">
    <input type="text" [(ngModel)]="searchText" placeholder="Search by name" (keydown.enter)="selectLastValue($event)"
           nz-input #memberSearchInput>
  </div>
  <ul class="members-dropdown" style="box-shadow: none;min-width:300px;" *ngIf="show && members.length" nz-menu>
    <!-- <li class="px-3 py-2">
      <input type="text" [(ngModel)]="searchText" placeholder="Search by name" (keydown.enter)="selectLastValue($event)" nz-input #memberSearchInput>
    </li> -->
    <li class="m-0"
        *ngFor="let item of members | searchByName: searchText; trackBy: trackById"
        [(nzChecked)]="item.selected"
        [nzDisabled]="item.is_pending && !item.selected"
        (nzCheckedChange)="handleMemberChange(item, $event)"
        [ngClass]="item.is_pending && !item.selected ? 'disable' : ''"
        nz-checkbox
        nz-menu-item>
      <div class="d-flex align-items-center justify-content-center user-select-none">
        <nz-avatar
          nz-tooltip
          [nzSize]="28"
          [nzText]="item.name | firstCharUpper"
          [nzTooltipTitle]="item.name"
          [style.background-color]="item.avatar_url ? '#ececec' : item.color_code"
          [nzSrc]="item.avatar_url"
          [nzTooltipPlacement]="'top'"
          class="mt-auto mb-auto me-2"
        ></nz-avatar>
        <div style="line-height: 15px;">
          <span class="d-block" nz-typography>{{item.name}}</span>
          <small nz-typography [nzType]="'secondary'">
            {{item.email}} <small *ngIf="item.is_pending" nz-typography nzType="danger">(Pending Invitation)</small>
          </small>
        </div>
      </div>
    </li>
  </ul>
  <button *ngIf="isOwnerOrAdmin && show" nz-button nzType="link" (click)="onInviteClick()"
          class="border-top bg-white w-100">
    <span nz-icon nzType="usergroup-add" nzTheme="outline"></span> Invite a new member by email
  </button>
  <div *ngIf="show" class="bg-white text-end align-items-center p-2 border-top"
       [class.justify-content-between]="isOwnerOrAdmin"
       [class.justify-content-end]="!isOwnerOrAdmin"
  >
    <!-- <button *ngIf="isOwnerOrAdmin" nz-button nzType="dashed" nzSize="small" (click)="onInviteClick()">
      <span nz-icon nzType="usergroup-add" nzTheme="outline"></span> Invite a new member by email
    </button> -->
    <button nz-button nzType="primary" nzSize="small" (click)="closeDropdown()">OK</button>
  </div>
</nz-dropdown-menu>
