if maintenance && maintenance.description
  nz-alert.ng-tns-c272-6.ng-star-inserted#maintenance(_ngcontent-wpn-c273='' nzshowicon='' nztype='warning' ng-reflect-nz-show-icon='' ng-reflect-nz-type='warning' ng-reflect-nz-action='[object Object]' ng-reflect-nz-message='[object Object]' style="position: fixed;z-index: 4;left: 0;top: 0;right: 0;")
    .ant-alert.ng-trigger.ng-trigger-slideAlertMotion.ng-tns-c272-6.ant-alert-warning.ng-star-inserted
      span.anticon.ant-alert-icon.ng-tns-c272-6.anticon-close-circle.ng-star-inserted(nz-icon='' ng-reflect-nz-type='close-circle' ng-reflect-nz-theme='fill')
        svg.ng-tns-c272-6(viewBox='64 64 896 896' focusable='false' fill='currentColor' width='1em' height='1em' data-icon='close-circle' aria-hidden='true')
          path(d='M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm165.4 618.2l-66-.3L512 563.4l-99.3 118.4-66.1.3c-4.4 0-8-3.5-8-8 0-1.9.7-3.7 1.9-5.2l130.1-155L340.5 359a8.32 8.32 0 01-1.9-5.2c0-4.4 3.6-8 8-8l66.1.3L512 464.6l99.3-118.4 66-.3c4.4 0 8 3.5 8 8 0 1.9-.7 3.7-1.9 5.2L553.5 514l130 155c1.2 1.5 1.9 3.3 1.9 5.2 0 4.4-3.6 8-8 8z')
      .ant-alert-content.ng-tns-c272-6.ng-star-inserted
        span.ant-alert-message.ng-tns-c272-6.ng-star-inserted(style="font-weight: 500;")
          !=maintenance.description
          //- a(href="javascript:document.querySelector('#maintenance').remove();" style="margin-left: 10px;text-decoration: underline;") Close
