doctype html
html(lang="en" data-critters-container v=release)
  head
    meta(charset='utf-8')
    title Worklenz
    base(href='/')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    meta(name='theme-color' content='#1976d2')
    meta(name='robots' content='noindex') 

    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(rel='manifest' href='/manifest.webmanifest')

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    include _fonts
    include _styles
    link(rel='stylesheet' href='/styles.68b8da263f6e7075.css' media='print' onload="this.media='all'")
    noscript
      link(rel='stylesheet' href='/styles.68b8da263f6e7075.css')

    style.
      .inner-subtask-create[_ngcontent-ng-c279964727] {
      overflow: hidden !important;
      }

    include ../_scripts
  body
    //- include _maintenance
    block content
    noscript Please enable JavaScript to continue using this application.

    script(src='/runtime.6007cef15fea30d1.js' type='module')
    script(src='/polyfills.f07f6ddac0a4feb2.js' type='module')
    //- script(src='/scripts.9a11919855e8efc3.js' defer)
    script(src='/main.05d8ba4986531fb3.js' type='module')

    include ../_hubspot
