.estimated-time-span {
  position: absolute;
  top: 3px;
  left: 4px;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
}
.actual-time-span {
  position: absolute;
  bottom: 1px;
  left: 4px;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
}
