<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzWidth]="650"
  [nzVisible]="drawerVisible"
  [nzTitle]="title"
  [nzFooter]="footerTpl"
  (nzOnClose)="closeDrawer()"
  (nzVisibleChange)="onVisibilityChange($event)"
>
  <form nz-form *nzDrawerContent [formGroup]="form">
    <nz-form-item>
      <nz-form-label>Template Name</nz-form-label>
      <nz-form-control [nzErrorTip]="'Template name is required!'">
        <input nz-input placeholder="Template Name" [formControlName]="'name'"/>
      </nz-form-control>
    </nz-form-item>

    <span nz-typography class="fw-bold">Selected Tasks ({{tasks.length || 0}})</span>
    <br>
    <ul nz-list nzBordered class="mt-4" [nzDataSource]="tasks" *ngIf="tasks.length" [nzLoading]="loading"
        nzNoResult="No tasks selected!">
      <li nz-list-item *ngFor="let task of tasks; let i = index;">
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <a (click)="removeTask(i)">Remove</a>
          </nz-list-item-action>
        </ul>
        {{task.name}}
      </li>
    </ul>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="closeDrawer()">Cancel</button>
      <button nz-button nzType="primary" (click)="submit()">Save</button>
    </div>
  </ng-template>
</nz-drawer>