<div class="justify-content-center py-5 position-relative">
  <div class="row w-100 mx-0 auth-page">
    <div class="col-md-12 col-sm-8 col-xl-3 mx-auto pe-5 ps-5 my-5 bg-white w-360 border-radius-4">
      <!-- <div class="w-360"> -->
      <div class="row">
        <div class="col-md-12">
          <div class="py-5">
            <div aria-labelledby="auth-tab-content">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="bg-ant-grey"></div>
</div>
<div class="bg-ant-grey"></div>
