footer.worlenz_footer
  .container-fluid.main-nav-container
    .row.align-items-center.mb-block
      .col-3
        .worklenz_footer_img
          img.img-fluid(src='/assets/images/worklenz-logo.png' alt='')
      .col-6
        ul.worklenz_page_list
          li
            a(href='/privacy-policy') Privacy Policy
          li
            a(href='/terms-of-use') Terms of Use
      .col-3.worklenz_footer_nav_list
        .worklenz_footer_social_list
          ul
            li
              a(href='https://www.facebook.com/Worklenz' target='_blank')
                i.fa-brands.fa-facebook-f
            li
              a(href='https://twitter.com/WorklenzHQ' target='_blank')
                i.fa-brands.fa-twitter
            li
              a(href='https://www.linkedin.com/showcase/worklenz/' target='_blank')
                i.fa-brands.fa-linkedin-in
            li
              a(href='https://www.reddit.com/user/Worklenz' target='_blank')
                i.fa-brands.fa-reddit-alien
    .row
      .col-12.worklenz_footer_copyrights.mt-4.justify-content-center
        span Worklenz &copy; <span id="date"></span>
