extends layout

block vars
  - title = "Worklenz | Terms of Use"

block content
  section#worklenz_privacy.pt-5
    .container.mt-5
      h2.worlenz_h2.inter-typography.text-center.mb-3 Terms of Use
      div
        p
          b CeyDigital Solutions (Pvt) Ltd. (“CeyDigital,” “we”, “our” or “us”)
          |  provides this website
          b ("worklenz.com")
          |  and certain online and offline products and services (collectively, the
          b “Platform”
          | ). These Terms of Service(
          b “Agreement”
          | )govern your (
          b “Customer,” “you,” or “your”
          | ) access to and use or attempted use of the Platform. Your access to or use or attempted use of the Platform shall be deemed to constitute your consent to be bound by this Agreement and shall be enforceable in the same way as if you had signed this Agreement. If you do not agree with the terms of this Agreement, you may not use the Platform.
      div
        h3.inter-typography.worklenz_h3 Permitted Use & License
        p.worklenz_def_para_mt
          | Subject to your payment of all fees and full compliance with this Agreement, CeyDigital hereby grants you a limited, revocable, non-exclusive, non-transferable, non-sub licensable right and license during the term to access and use the portions of the Platform. You may only use the Platform for your internal business purposes, and not for the benefit of any other person or entity.
      div
        h3.inter-typography.worklenz_h3 Updates
        p.worklenz_def_para_mt
          | CeyDigital may modify or update the Platform at any time, in its discretion. We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, any part of the Service with or without notice. All updates provided to customers generally shall also be made available to you and shall be subject to this Agreement and any additional terms provided to you at the time of the update’s release. After the effective date of such update, we shall bear no obligation to run, provide or support legacy versions of the Platform.
      div
        h3.inter-typography.worklenz_h3 Access & Accounts
        p.worklenz_def_para_mt
          | CeyDigital may update, refresh or change the manner of accessing the Platform at its discretion. CeyDigital shall provide you with non-transferable access credentials for the Platform.
        p.worklenz_def_para_mt You agree not to,
        ul
          li Misrepresent or mask identities when using the Platform or seeking access credentials.
          li Select or use as a username a name subject to any rights of a person or entity without appropriate authorization.
          li Select or use, as your username, a name that is offensive, vulgar or obscene.
          li Exceed any access permitted by CeyDigital.
        p.worklenz_def_para_mt You agree not to,
        ul
          li Immediately notify CeyDigital of any unauthorized use of your password or account or any other breach of security.
          li Ensure that you exit your account at the end of each session.
          li Only your employees and contractors (“Personnel”) may use the Platform.
          li You shall require your Personnel to comply with all applicable laws and the use restrictions set out in the Agreement or otherwise prescribed by CeyDigital.
          li You represent and warrant that your Personnel have the capacity and authority to enter into this Agreement.
          li You will be fully responsible for any acts or omissions of your Personnel, whether authorized or unauthorized.
      div
        h3.inter-typography.worklenz_h3 Registration
        p
          | As part of the registration and account creation process, you will provide CeyDigital with certain registration information, all of which must be accurate, truthful, and updated. In consideration for your use of the Platform, you represent and warrant that (i) you are over the age of eighteen (18) and not barred from receiving the Platform under the laws of your country or any other applicable jurisdiction, (ii) your use of the Platform does not violate any applicable law or regulation, and (iii) you access the Platform through one or more humans rather than through automated means. CeyDigital reserves the right to deny the creation of or suspend your account based on our inability to verify the authenticity of your registration information or for any violation of this Section.
      div
        h3.inter-typography.worklenz_h3 Subscription Fees
        p
          | In consideration for the provision of the Service, the Customer shall pay us the applicable fees per the purchased Subscription. Customer hereby authorizes us, either directly or through our payment processing service or our affiliates, to charge such Subscription Fees via Customer’s selected payment method, upon the due date. This subscription fee for the current term is non-cancellable once paid and non-refundable. We reserve the right to change the Subscription Fees at any time, upon notice to Customer if such change may affect Customer’s existing subscriptions upon renewal. In the event of failure to collect the Fees owed by Customer, we may, at our sole discretion (but shall not be obligated to) retry to collect at a later time, and/or suspend or cancel the Account, without notice. Please note that if you downgrade your Platform level or otherwise remove any paid component or feature, you may cause the loss of Content or features for your account. CeyDigital does not accept any liability for such loss.
      div
        h3.inter-typography.worklenz_h3 Renewals
        p
          | Your Platform subscription will be automatically renewed at the end of your subscription period and will automatically renew for successive subscriptions of the same length, without prior notice to you, unless and until you cancel your membership, or we terminate it. You must cancel your subscription thirty (30) days before it renews to avoid the next period’s subscription fees.
      div
        h3.inter-typography.worklenz_h3 Ownership & License.
        p
          | As between you and us, you are the owner of all rights, titles and interests in and to your Content. By uploading, posting, emailing, transmitting, submitting or otherwise making available Content to or through the Platform, you grant CeyDigital the irrevocable, non-exclusive, worldwide, transferable, royalty-free, fully paid up right and license during the term to use the Content to provide the Platform to you or as otherwise contemplated by this Agreement. “Content” means any information, data, code, video, images, text, documents or other materials of any type that you upload, post, email, transmit, submit or otherwise make available to or through the Platform, regardless of whether it is publicly posted or privately transmitted.
      div
        h3.inter-typography.worklenz_h3 Third-party Services, Integration Services, Independent Relationships
        p
          | You acknowledge and agree that regardless of the manner in which such Third Party Services may be offered to you, we merely act as an intermediary platform between you and such Third Party Services, and we do not, in any way, endorse any such Third Party Services, or shall be in any way responsible or liable concerning any such Third Party Services. Your relationship with such Third Party Services and any terms governing your payment for (if any), and use of, such Third Party Services, including without limitation, the collection, processing and use of your data by such Third Party Services, are subject to a separate contractual arrangement between you and the provider of a Third Party Service (the “Third Party Agreement”). We are not a party to, or responsible, in any manner, for the compliance by you or by the provider of the Third Party Service with the Third Party Agreement.
        p.worklenz_def_para_mt
          | Through the Service, you and any other Authorized User within the Account, may enable integration of your Account with Third Party Services, which will allow an exchange, transmission, modification or removal of data between us and the Third Party Service, including without limitation, the Customer Data, the scope of which is determined by the applicable actions set by such integration. You hereby acknowledge that any access, collection, transmission, processing, storage or any other use of data, including the Customer Data, by a Third Party Service, is governed by the Third Party Agreement, including any applicable privacy policy, and CeyDigital is not responsible for any access, collection, transmission, processing, storage or any other use of data, including the Customer Data, by the Third Party Service or for such Third Party Service privacy and security actions, inactions or general practices.
        p.worklenz_def_para_mt
          | By integrating and/or using the Third Party Services, you acknowledge and agree that you are solely responsible for your compliance with applicable privacy restrictions, laws and regulations, including your use of the Third Party Service and other data activities you may conduct or may permit third parties, including the Third Party Service, to conduct the activities and use of the data by you and any other Users within the Account, may result in a modification and/or removal of data, either in the Account (i.e. Customer Data) and in the integrated Third Party Service. We shall have no obligation of any kind, for any such modification and/or removal of data, either in the Account with us and/or the integrated Third Party Service.
      div
        h3.inter-typography.worklenz_h3 Links
        p
          | The Platform and/or any Third Party Services may contain links to third-party websites that are not owned or controlled by us. You acknowledge that we have no control over and assume no responsibility for the content, privacy policies, or practices of, any third-party websites.
      div
        h3.inter-typography.worklenz_h3 Our Intellectual Property
        p
          | The Service and Site, inclusive of materials, such as software, application programming interface, design, text, editorial materials, informational text, photographs, illustrations, audio clips, video clips, artwork and other graphic materials, names, logos, trademarks and services marks (excluding Customer Data), any and all related or underlying technology and any modifications, enhancements or derivative works of the foregoing (collectively, “worklenz.com Materials”), are the property of CeyDigital and its licensors and may be protected by applicable copyright or other intellectual property laws and treaties. As between you and us, CeyDigital retains all rights, titles and interests, including all intellectual property rights, in and to the worklenz.com Materials.
      div
        h3.inter-typography.worklenz_h3 Prohibited Content & Behaviours.
        p
          | You agree to
          b not
          | use the Platform to:
        ul
          li monitor its performance, availability, or functionality, or for any other benchmarking or competitive purposes;
          li upload, post, email, transmit, submit or otherwise make available any Content that is harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libellous, hateful, or racially, ethnically or otherwise objectionable;
          li harm minors in any way;
          li impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation with a person or entity;
          li disguise the origin of any Content transmitted through the Platform;
          li upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, “junk mail”, “spam”, or any other form of solicitation;
          li act in a manner that negatively affects other users’ ability to use the Platform;
          li interfere with or disrupt the Platform or servers or networks connected to the Platform, or disobey any requirements, procedures, policies or regulations of networks connected to the Platform;
          li  violate any applicable local, state, national or international law;
          li provide material support or resources (or conceal or disguise the nature, location, source, or ownership of material support or resources) to any organization(s) designated by any jurisdiction.
          li attempt to override or circumvent any of the usage rules embedded into the Platform.
      div
        h3.inter-typography.worklenz_h3 License Restrictions
        p
          | You may
          b not
        ul
          li use any CeyDigital Confidential Information to create any services, product, software, documentation or data that is competitive with, substantially similar to or confusingly similar to any aspect of the Platform.
          li use, modify, display, perform, copy, disclose or create derivative works of the Platform.
          li reverse engineer, decompile, disassemble, mimic, screen-scrape, frame or mirror the Platform, or use any other means to attempt to discover their source code.
          li benchmark, encumber, distribute, sublicense, assign, share, sell, rent, lease, pledge or otherwise transfer the Platform to any third party.
          li access via automated or unauthorized means, interfere with, disrupt or attempt to monitor, override access or circumvent security measures for, the Platform or related systems, including via robots, spiders and other electronic methods.
          li use the Platform in violation of applicable law, rule or regulation, including without limitation laws, rules and regulations concerning privacy and data security.
          li use the Platform in any manner that intentionally damages, disables, overburdens, or impairs any the Platform or interferes with any other party’s use of the Platform, including without limitation by using or launching any automated system that sends more request messages to servers in a given period of time than a human can reasonably produce in the same period by using a conventional browser.
          li attempt to gain unauthorized access to the Platform, including without limitation by breaching, disabling, tampering with, or developing or using (or attempting to do the same) any workaround for the Platform or any security measure related thereto.
          li set, read, write, modify or delete any cookie on a CeyDigital-owned or operated web domain, obscure, remove or alter any proprietary rights or other notices on the Platform.
        p.worklenz_def_para_mt
          | Notwithstanding anything to the contrary herein, CeyDigital may, in its sole discretion, immediately revoke the grant of rights contemplated in the previous paragraph if you breach the restrictions in this Section or create other security or legal concerns. You hereby agree that CeyDigital will be entitled, in addition to any other remedies available to it at law or in equity, to injunctive relief to prevent the breach or threatened breach of your obligations under this Section, without any requirement to demonstrate irreparable harm or post a bond.
      div
        h3.inter-typography.worklenz_h3 License Restrictions
        p.worklenz_def_para_mt.special
          | NOTWITHSTANDING ANYTHING IN THESE TERMS OR ELSEWHERE TO THE CONTRARY AND TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW:
        p.worklenz_def_para_mt.special
          | IN NO EVENT SHALL EITHER PARTY HERETO AND ITS AFFILIATES, SUBCONTRACTORS, AGENTS AND VENDORS (INCLUDING, THE THIRD-PARTY SERVICE PROVIDERS), BE LIABLE UNDER, OR OTHERWISE IN CONNECTION WITH THESE TERMS FOR (I) ANY INDIRECT, EXEMPLARY, SPECIAL, CONSEQUENTIAL, INCIDENTAL OR PUNITIVE DAMAGES; (II) ANY LOSS OF PROFITS, COSTS, ANTICIPATED SAVINGS; (III) ANY LOSS OF, OR DAMAGE TO DATA, USE, BUSINESS, REPUTATION, REVENUE OR GOODWILL; AND/OR (IV) THE FAILURE OF SECURITY MEASURES AND PROTECTIONS, WHETHER IN CONTRACT, TORT OR UNDER ANY OTHER THEORY OF LIABILITY OR OTHERWISE, AND WHETHER OR NOT SUCH PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES IN ADVANCE, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE.
      div
        h3.inter-typography.worklenz_h3 Warranties
        p.worklenz_def_para_mt.special
          | THE COMPANY DOES NOT PROVIDE ANY WARRANTIES AND REPRESENTATIONS REGARDING THE PLATFORM AND ITS SERVICES. THE COMPANY DISCLAIMS ALL WARRANTIES AND REPRESENTATIONS OF ANY KIND WITH REGARD TO THE USE OR INABILITY TO USE THE WEBSITE AND SERVICES, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD-PARTY RIGHTS, FREEDOM FROM VIRUSES OR OTHER HARMFUL CODE, OR FITNESS FOR ANY PARTICULAR PURPOSE. THE COMPANY WILL NOT BE LIABLE FOR ANY DELAY, DIFFICULTY IN USE, INACCURACY OF INFORMATION, COMPUTER VIRUSES, MALICIOUS CODE OR OTHER DEFECTS IN THIS PLATFORM AND THE SERVICES.
      div
        h3.inter-typography.worklenz_h3 Termination
        p.worklenz_def_para_mt
          | CeyDigital may terminate or suspend this Agreement immediately in the event of your breach or threatened breach of any condition, confidentiality or intellectual property provisions of this Agreement or in the event any fees come past due. Either party may terminate this agreement immediately for (i) material breach if such breach, to the extent curable, remains uncured ten (10) days after notice thereof; (ii) convenience on thirty (30) days advance written notice to the other party; or (iii) if a party becomes the subject of a petition in bankruptcy or any other proceeding relating to insolvency, liquidation or assignment for the benefit of creditors. For the avoidance of doubt, you understand that there will be no fees refunded for any partial terms in the event of termination of this Agreement.
        p.worklenz_def_para_mt
          | Upon termination or expiration of this Agreement, you will immediately pay all fees and other amounts due to CeyDigital and stop all use of the Platform. Further, all applicable licenses and access granted to you shall automatically terminate. Notwithstanding the foregoing, terms that by their nature should survive expiration or termination of this Agreement shall so survive.
      div
        h3.inter-typography.worklenz_h3 Indemnification
        p.worklenz_def_para_mt
          | You agree to indemnify and hold the Company, its subsidiaries, affiliates, shareholders, officers, directors, agents, employees and representative and Company licensors, their subsidiaries, affiliates, shareholders, officers, directors, agents, employees and representatives harmless from any claims and demands, including reasonable attorneys’ fees, made by any third party arising from or relating to,
        ul
          li your use of and access to the Platform
          li content you submit, post, transmit or otherwise make available via the Website and the Service;
          li your violation of these Terms & Conditions of Use or the Company’s Privacy Policy. This indemnification obligation will survive the termination of your account or these Terms & Conditions of Use.
      div
        h3.inter-typography.worklenz_h3 Waiver and Severability of Terms
        p.worklenz_def_para_mt
          | The failure of CeyDigital to exercise or enforce any right or provision of the Agreement shall not constitute a waiver of such right or provision. If any provision of the Agreement is found by a court of competent jurisdiction to be invalid under applicable law, the parties nevertheless agree that the court should endeavour to give effect to the parties’ intentions to the greatest extent possible as reflected in the provision, and the other provisions of the Agreement shall remain in full effect.
        p.owned ‘worklenz.com is owned by CeyDigital Solutions (Pvt) Ltd.’
